<div class="container main">
  <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Búsqueda de libros simulada
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="">Clave de búsqueda</label>
              <input type="text" class= "form-control" id="key"
                [(ngModel)]= "keyBook">                          
            </div>
            <div class="form-group">
                <button type="button" (click)="btnSearch()"
                class="btn btn-primary">Buscar</button>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div *ngIf="aBooks.length">  
              <h3>Libros encotrados</h3>  
                <ul class="list-group">
                  <li class="list-group-item"
                    *ngFor= "let book of aBooks">
                    {{book}}
                  </li>
                  
                </ul>
              </div>
          </div>          
        </div>
      </div>        
  </div>
</div>